# dependencies
node_modules/

# build outputs
dist/
*.local

# turbo
.turbo/

# editor
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# env
.env
.env.*
!.env.example

# storybook
storybook-static/

# logs
*.log
npm-debug.log*
